
.ipynb_checkpoints/Predict-checkpoint.ipynb
.idea/dictionaries/Kevin.xml
.idea/misc.xml
.idea/modules.xml
.idea/titanic.iml
.idea/vcs.xml
.idea/workspace.xml
.ipynb_checkpoints/Explore-checkpoint.ipynb
